
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import "../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap";

$borderColor: #e7e7e7;
$bg: f8f8f8;
$br: 5px;


.btn_theme_default {
  position: relative;
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  -webkit-user-select: none;
  white-space: nowrap;
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: #000;

  border: 1px solid $borderColor;
}
.btn_size_m {
  font-size: 16px;
  line-height: 42px;
}
.btn_size_m .btn__text {
  position: relative;
  margin: 0 13px;
  font-weight: normal;
}
.btn_size_s {
  font-size: 14px;
  line-height: 32px;
  width: 140px;
}
.btn_size_s .btn__text {
  margin: 0 13px;
}
.btn_color_blue {
  background-color: #2aa1d3;
}
.btn_color_white {
  background-color: #fff;
}
.btn_color_blue.btn_state_hover:hover {
  background-color: rgba(42,161,211,0.7);
}
.btn_color_green {
  background-color: #8ab71b;
}
.btn_color_green.btn_state_hover:hover {
  background-color: rgba(138,183,27,0.7);
}
.btn_color_red {
  color: #fff;
  background-color: #d9534f;
}
.btn_color_red.btn_state_hover:hover {
  background-color: rgba(217, 83, 79, 0.8);
}
.btn_color_yellow {
  background-color: #f0b017;
}
.btn_color_yellow.btn_state_hover:hover {
  background-color: rgba(240,176,23,0.7);
}
.btn_color_dark {
  background-color: #525863;
}
.btn_color_dark.btn_state_hover:hover {
  background-color: rgba(82,88,99,0.7);
}
.btn_color_inactive {
  background-color: #23252b;
}
.btn_color_inactive.btn_state_hover:hover {
  background-color: rgba(35,37,43,0.7);
}

.task-list {
  width: 479px;
  height: 550px;
  margin: 0 auto;
}

.task-list__header {
  background-color: $bg;
  border: 1px solid $borderColor;
  border-radius: $br;
  line-height: 3.4;
}

.task-list__link {
  text-decoration: none;
  font-size: 18px;
  color: #777;
  padding-left: 10px;
}

.control-label-left {
  float: left;
}





.new-task {
  width: 420px;
  margin: 40px auto;
  border: 1px solid $borderColor;
  border-radius: $br;
}


.new-task__header {
  background-color: #f5f5f5;
  border: 1px solid $borderColor;
  border-radius: $br;
  line-height: 1;
}

.new-task__title {
  font-size: 16px;
  color: #777;
  padding-left: 10px;
}

.new-task__group {
  margin: 20px;
  padding: 10px;
}

.new-task__form {
  margin-top: 40px;
}

.new-task__label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.new-task__input {
  display: block;
  width: 100%;
  border: 1px solid $borderColor;
  height: 40px;
}


.current-task {
  width: 420px;
  margin: 40px auto;
  border: 1px solid $borderColor;
  border-radius: $br;
}


.current-task__header {
  background-color: #f5f5f5;
  border: 1px solid $borderColor;
  border-radius: $br;
  line-height: 1;
}

.current-task__title {
  font-size: 16px;
  color: #777;
  padding-left: 10px;
}


.current-task__content {
  margin: 30px auto;
  padding: 20px;
}

.current-task__label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

.current-task__item:not(:last-child) {
  border-bottom: 1px solid $borderColor;
}

.current-task__item {
  margin: 20px auto;
  padding: 10px;
}

.current-task__text {
  display: inline-block;
  width: 50%;
  word-break: keep-all;
}

.current-task__form {
  display: inline-block;
}
